
results/
results_temp/
logs/
formatted_data_old/

raw_data/ADBench_data_raw/*.npz


*.pyc
*.log
*.tex
*.pickle
*.arff
*.mat
*.csv

additional_methods/Deep-SVDD/log/mnist_test/

additional_methods/Deep-SVDD/log/musk/
/raw_data/GAAL_data_raw/Annthyroid
/raw_data/GAAL_data_raw/SpamBase
/raw_data/GAAL_data_raw/WDBC
/raw_data/GAAL_data_raw/Waveform
/raw_data/ODDS_data_raw/other_data/yeast.data
/raw_data/ODDS_data_raw/other_data/yeast.names
/raw_data/extended_AE_data_raw/CNC-kaggle/README.txt
/raw_data/extended_AE_data_raw/CNC-kaggle/test_artifact.jpg
